body {     
    font-family: Roboto, sans-serif;
    font-size:18px;
    display:flex;
    flex-direction: column;
    background-color: rgb(192, 190, 72);
    
    
  }

.header{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 30px;
}

.head_img {
  width: 200px;

}

.buttons{
  display:flex;
  flex-direction: row;
  justify-content:center;
  gap:30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
 
}

button{
  padding:20px;
  background-color: floralwhite;
  border-radius: 12px;

}

.messages{
  display:flex;
  flex-direction: column;
  align-items: center; 
}

.score_window{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:40px;
}